.Visualizer {
/* pointer-events: none; */


canvas {
  display: block;
  /* background-color: lime; */
  background: rgba(25, 2, 48, 0.92);
  margin:0;
  left:0;
  height: auto;
  width: 100vw;
}

.close {
  position: absolute;
  right: 10vh;
  top: 10px;
  pointer-events: all;
}

.close:hover {
  transform: scale(1.1);
  cursor: pointer;
  pointer-events: all;
}

.close:active {
  transform: scale(0.9);
  pointer-events: all;
}
}

/* html, body {
  height: 100%;
} */
/* 
body {
  background-image: radial-gradient(circle, #F0C505, #F76E2A 10%, #A71A5B 40%, #651366);
  position: relative;
  overflow: hidden;
} */
/* 
canvas {
  display: block;
  background-color: lime;
} */
