.blurbContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .Blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
    background: linear-gradient(120deg, #d3b1fb, #d6b1fb, #e0b3fb, #edb5fb, #fbb7fa, #fbbaea, #fcbcdb, #fcbfce, #fcc1c3, #fcccc3, #fcd3c5, #fcd6c5);
    box-shadow: 0px 0px 4px 4px #070E0D;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s; 
    animation: fadein 3s;
    animation: scale 1.5s;
    -webkit-animation: scale 1.5s;
    -moz-animation: scale 2s; 
  }

  .Blurb > p {
    -webkit-animation: fadein 5s; 
    -moz-animation: fadein 5s; 
    animation: fadein 5s;
  }

  button { 
    background-image: linear-gradient(to right, rgb(34, 4, 66) 0%, rgba(65, 6, 116) 51%, rgb(34, 4, 66) 100%);
    color: #EDBBF2;
    height: 2.5em;
    width: 6.5em;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.1em;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 1em;
  }

  button:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
  }

  button:active {
    transform: scale(0.95)
  }
}

@media (max-width: 1200px) {
  .blurbContainer {

    .Blurb {
      width: 70%;
      padding: 0.5em 1em 1em 1em;
    }
  }
}

@media (max-width: 667px) {
  .blurbContainer {

    .Blurb {
      width: 85%;
      padding: 0.5em 1em 1em 1em;
      font-size: 0.9em;
    }
  }

}

@media (max-width: 567px) {
  .blurbContainer {

    .Blurb {
      width: 90%;
      padding: 0.5em 1em 1em 1em;
      font-size: 0.6em;
    }
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scale {
  0% {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
  }
  100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
  }
}

