.Upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color: rgba(241, 171, 233, 0.9);
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 15px 0 black;
  border: 1px groove black;

  .uploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 2em 0 1em 0;
    text-align: center;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .close:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .close:active {
    transform: scale(0.9);
  }

  h1 {
    font-size: 1.5em;
  }

  iframe {    
    border: 0;
   }

   .description {
     width: 90%;
     margin: 1em 0 2em 0;
     text-align: justify;
   }
}
