svg {
  /* background-image: url(https://user-images.githubusercontent.com/465414/38976101-0a62803a-4365-11e8-8bdf-1d623736e2c5.png); */
  /* background-image: url(http://localhost:7891/images/tempMap.jpeg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 900px;
  width: 90%;
}
path {
  cursor: pointer;
  transition: fill 0.2s
}
svg a:focus,
svg a:hover {
  outline: none;
}
svg a:focus path,
svg a:hover path {
  fill: rgba(30,222,121, 0.25);
  cursor: pointer;
}