.Player{
  width: 30%;
  height: 70%;
  border: 2px groove black;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px black;

svg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 900px;
  width: 90%;
}
path {
  cursor: pointer;
  transition: fill 0.2s
}
svg a:focus,
svg a:hover {
  outline: none;
}
svg a:focus path,
svg a:hover path {
  fill: rgba(30,222,121, 0.25);
  cursor: pointer;
}
}

