@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  background: rgb(40,4,78);
  background: linear-gradient(0deg, rgba(40,4,78,1) 0%, rgba(20,2,39,1) 100%);
  margin: 0;
  height: fit-content;
  width: 100vw;
  font-family: 'Kanit', sans-serif;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

.mapClass {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  max-width: 60%;
  /* border: 2px groove black; */
  margin-bottom: 2em;
  box-shadow: 0px 0px 4px 4px #070E0D;
  background: linear-gradient(120deg, #d3b1fb, #d6b1fb, #e0b3fb, #edb5fb, #fbb7fa, #fbbaea, #fcbcdb, #fcbfce, #fcc1c3, #fcccc3, #fcd3c5, #fcd6c5);

  svg {
    background-image: url(https://inbloom.netlify.app/images/altmap2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 90vw;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
  }
  path {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.2s
  }
  svg a:focus,
  svg a:hover {
    outline: none;
  }
  svg a:focus path,
  svg a:hover path {
    /* fill: rgba(30,222,121, 0.25); */
    /* fill: rgba(231, 19, 19, 0.445); */
    fill: rgba(40,4,78,0.25);
    cursor: pointer;
  }
  }
}

@media (max-width: 1200px) {
  .mapContainer {

    .mapClass {
     max-width: 70%;
    }
  }

}

@media (max-width: 667px) {

  body {
    height: 100vh;
  }

  .mapContainer {

    .mapClass {
     max-width: 85%;
    }
  }

}
