@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  background: rgba(40,4,78,1);
  background: linear-gradient(270deg, rgba(40,4,78,1) 0%, rgb(34, 4, 66) 100%);
  margin: 0;
  /* height: 100vh; */
  width: 100%;
  font-family: 'Kanit', sans-serif;

}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  animation: fadein 2s;
  animation: scale 1.5s;
  -webkit-animation: scale 1.5s;
  -moz-animation: scale 2s; 

  .instructionsContainer {
    width: 60%;
    margin: 0;

    .instructions {
      width: 99%;
      text-align: center;
      color: #FBC9B1;
      font-size: 0.9em;
      letter-spacing: 0.15em;
      margin: 0 0 0.5em 0;
      -webkit-animation: fadein 5s; 
      -moz-animation: fadein 5s; 
      animation: fadein 5s;
    }
  }

.mapClass {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  max-width: 60%;
  /* border: 2px groove black; */
  margin-top: 1em;
  margin-bottom: 1.5em;
  box-shadow: 0px 0px 4px 4px #070E0D;
  background: linear-gradient(120deg, #d3b1fb, #d6b1fb, #e0b3fb, #edb5fb, #fbb7fa, #fbbaea, #fcbcdb, #fcbfce, #fcc1c3, #fcccc3, #fcd3c5, #fcd6c5);

  svg {
    background-image: url(https://inbloom.netlify.app/images/map.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90vw;
    padding: 1em 0 1em 0;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s; 
    animation: fadein 3s;
  }

  path {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.2s;
    /* stroke-dasharray: 4; */
    /* animation: glow 1s linear;
    stroke-linecap: round; */

  }

  svg a path{
    animation: fill 3s infinite ease-in-out;
  }

  svg a:focus,
  svg a:hover {
    outline: none;
  }
  svg a:focus path,
  svg a path:hover {
    fill: rgba(67, 7, 136,0.1);
    stroke: rgb(67, 7, 136, 0.2);
    stroke-width: 5;
    cursor: pointer;
    animation: 0;
  }
  }
}

@media (max-width: 1200px) {
  .mapContainer {

    .mapClass {
     max-width: 70%;
    }
  }

}

@media (max-width: 1024px) {

  .mapContainer {

    .instructionsContainer {

      .instructions {
       font-size: 1em;
       margin: 1em 0 1em 0;
       line-height: 0;
      }
    }

    .mapClass {
     max-width: 85%;
     margin-top: 1em;
    }
  }

}

@media (max-width: 667px) {

  .mapContainer {

    .mapClass {
     max-width: 85%;
    }
  }

}

@media (max-width: 568px) {

  .mapContainer {

    .instructionsContainer {

    .instructions {
     font-size: 0.8em;
     margin: 1em 0 0 0;
      line-height: 0;
    }
  }
  }

}

@media (max-width: 416px) {

  .mapContainer {

    .instructionsContainer {

    .instructions {
     font-size: 0.7em;
     margin: 1em 0 0 0;
     line-height: 0;
    }
  }
  }
}

@media (max-width: 360px) {

  .mapContainer {

    .instructionsContainer {

    .instructions {
     font-size: 0.4em;
     margin: 1em 0 0 0;
     line-height: 0;
    }
  }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scale {
  0% {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
  }
  100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
  }
}

@keyframes fill {
  0%{
    fill:rgba(218, 251, 246, 0);
    stroke: rgba(218, 251, 246,0);
  }
  50%{
    fill:rgba(218, 251, 246, 0.4);
    stroke: rgb(218, 251, 246, 0.3);
    stroke-width: 6;
  }
  100%{
    fill: rgba(218, 251, 246,0);
    stroke: rgba(218, 251, 246,0);
  }
  }
